<p class="invoice-number">Facture n°201411_workshop#1_{{id}}</p>

<img class="left" width="70px" src="http://clermontech.org/images/clermontech_logo_200px.png" alt="Clermontech Logo" />

<p class="address-us">
<span class="address-title">Clermont'ech</span>
<span class="address-street">4 allée des Coteaux</span>
<span class="address-city">63110 Beaumont</span>
<span class="address-country">France</span>
<span class="address-extra">Siret 793 603 440 00017</span>
</p>

<p class="address-client">
<span class="address-title">{{prenom}} {{nom}}</span>
{% if entreprise_organisation is not empty %}
<span class="address-title">{{entreprise_organisation}}</span>
{% endif %}
{% if facturation_adresse_1 is not empty %}
<span class="address-street">{{facturation_adresse_1}}</span>
{% endif %}
{% if facturation_adresse_2 is not empty %}
<span class="address-street">{{facturation_adresse_2}}</span>
{% endif %}
<span class="address-city">{{facturation_code_postal}} {{facturation_ville}}</span>
</p>

<h1 class="invoice-title">
Facture n°201411_workshop#1_{{id}} du 15 Novembre 2014
</h1>

## Prestation

Participation au workshop#1 - Git organisé par l'association Clermont'ech.

<table>
<tbody>
    <tr>
        <td valign="top">
            <p>09h00</p>
        </td>
        <td colspan="2">
            <p>
                <strong>Accueil</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>09h30</p>
        </td>
        <td colspan="2">
            <p>
                <strong>Keynote d'Ouverture</strong> <em>- Amphi Pascalis</em>
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>10h00</p>
        </td>
        <td colspan="2">
            <p>
                <strong>Git : De Zéro A Héros</strong> <em>- Amphi Pascalis</em>
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>12h00</p>
        </td>
        <td colspan="2">
            <p style="text-align: center; vertical-align: center">
                <strong>Pause Déjeuner</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td width="48%" valign="top">
            <em>Amphi Pascalis</em>
        </td>
        <td width="48%" valign="top">
            <em>Hack Room</em>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>13h00</p>
        </td>
        <td width="48%" valign="top">
            <p><strong>Retours d'Expérience</strong> (Durée : 2h)</p>
        </td>
        <td width="48%" valign="top">
            <p><strong>Atelier : Try Git</strong> (Durée : 2h)</p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>15h00</p>
        </td>
        <td width="48%" valign="top">
            <p><strong>Git, GitHub & Open Source</strong></p>
        </td>
        <td width="48%" valign="top">
            <p><strong>Atelier : Hooks!</strong></p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>16h00</p>
        </td>
        <td width="48%" valign="top">
            <p><strong>Workflows Git</strong></p>
        </td>
        <td width="48%" valign="top">
            <p><strong>Atelier : Déployer avec Git</strong></p>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <p>17h00</p>
        </td>
        <td colspan="2">
            <p style="text-align: center">
                <strong>Keynote de clôture</strong> <em> - Amphi Pascalis</em>
            </p>
        </td>
    </tr>
</tbody>
</table>

## Montant

{{billets}}  billet{{ billets >1 ? 's' : ''}} soit un montant de **{{recette_brute_eur}} euros**.

TVA non applicable, article 293 B du Code général des impôts.


## Règlement

Réglé par {{type}} le {{date}} (via Eventbrite #{{numero_de_commande}}).
